body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: rgb(3,175,161);
background: linear-gradient(90deg, rgba(3,175,161,1) 18%, rgba(0,66,82,0.865983893557423) 59%, rgba(3,48,106,1) 100%);
}

button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



